#food_detail{
	max-width: 900px;
	margin: 0 auto;
	
	.tight_cluster{
		margin: 0 auto;
		margin-bottom: 40px;
		
		.rating{
			margin-left: 30px;
		}
	}
	
	.order_info{
		display: flex;
		align-items: center;
		
		.price{
			flex: 1;
			text-align: left;
			margin-right: 20px;
		}
		
		.orders{
			flex: 1;
		}
		
		.rating{
			flex: 1;
			text-align: center;
		}
		
		.time{
			flex: 1;
			text-align: right;
		}
		
		#add_to_order{
			display: block;
			white-space:nowrap;
			height: 32px;
			width: 145px;
		}
	}
	
	ul#food_detail_gallery{
		padding: 0;
		
		li{
			position: relative;
			display: block;
			list-style: none;
			height: 500px;
			margin: 0 auto;
		}
		
		.food_pic{
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
			border: solid 1px $almostBlack;
			
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('/imgs/image-not-available.gif');
		}
	}
	
	.about_dish{
		overflow: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 40px;
	
		.about_dish_section{
			width: 50%;
			padding-right: 10px;
		}
	}
	
	.reviews{
		padding: 0;
		margin-bottom: 40px;
		
		li{
			list-style: none;
			overflow: auto;
			margin-top: 10px;
			margin-bottom: 10px;
			
			display: flex;
			flex-direction: row;
		}
		
		.profile_pic{
			display: block;
			width: 80px;
			height: 80px;
			margin-right: 10px;
			
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('/imgs/profile.svg');
			border: solid 1px $almostBlack;
		}
		
		.review_info{
			flex: 1;
		}
	}
}

@media (max-width: 900px) {
	#food_detail{
		ul#food_detail_gallery{
			li{
				height: 0;
				padding-bottom: 56%;
			}
		}
	}
}

@media (max-width: 500px){
	#food_detail{
		.about_dish{
			.about_dish_section{
				width: 100%;
			}
		}
		
		.order_info{
			.no_mobile{
				display: none;
			}
		}
		
		.is_open{
			margin-left: auto;
			margin-right: auto;
		}
	}
}