#food_detail{
	max-width: 900px;
	margin: 0 auto;
	
	input{
		font-size: inherit;
		line-height: 20px;
	}
	
	input.input_price{
		width: 70px;
	}
	
	ul#input_category{
		font-size: 1.4rem;
	}
	
	.tight_cluster{
		margin: 0 auto;
		margin-bottom: 40px;
		
		.rating{
			margin-left: 30px;
		}
	}
	
	.order_info{
		display: flex;
		align-items: center;
		
		.price{
			flex: 1;
			margin-right: 20px;
		}
		
		.orders{
			flex: 1;
		}
		
		.rating{
			flex: 1;
		}
		
		.time{
			flex: 1;
		}
	}
	
	label.food_pic_container{
		position: relative;
		display: block;
		list-style: none;
		height: 500px;
		margin: 0 auto;
		
		.food_pic{
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
			border: solid 1px $almostBlack;
			
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('/imgs/image-not-available.gif');
		}
	}
	
	.prep_time_container{
		display: flex;
		
		span.prep_time_head{
			display: inline-block;
			margin-right: 5px;
		}
	}
	
	.about_dish{
		overflow: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 40px;
	
		.about_dish_section{
			width: 50%;
			padding-right: 10px;
		}
	}
	
	.reviews{
		padding: 0;
		margin-bottom: 40px;
		
		li{
			list-style: none;
			overflow: auto;
			margin-top: 10px;
			margin-bottom: 10px;
			
			display: flex;
			flex-direction: row;
		}
		
		.profile_pic{
			display: block;
			width: 80px;
			height: 80px;
			margin-right: 10px;
			
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('/imgs/profile.svg');
			border: solid 1px $almostBlack;
		}
		
		.review_info{
			flex: 1;
		}
	}
	
	.action_button{
		display: block;
		white-space:nowrap;
		height: 32px;
	}
	.btn_remove_order{
		color: $red;
	}
}

@media (max-width: 900px) {
	#food_detail{
		label.food_pic_container{
			height: 0;
			padding-bottom: 56%;
		}
	}
}

@media (max-width: 500px){
	#food_detail{
		.about_dish{
			.about_dish_section{
				width: 100%;
			}
		}
		
		.order_info{
			.no_mobile{
				display: none;
			}
		}
		
		.is_open{
			margin-left: auto;
			margin-right: auto;
		}
		
		.is_closed{
			margin-left: auto;
			margin-right: auto;
		}
	}
}