#food_detail{
	.center{
		text-align: center;
	}
	
	.title{
		padding-bottom: 5px;
		border-bottom: solid 1px $darkGrey;
		margin: 5px 0 5px 0;
	}
	
	.tight_cluster{
		max-width: 900px;
		margin: 0 auto;
	}
	
	.order_info{
		display: flex;
		align-items: center;
		
		.price{
			flex: 1;
			text-align: right;
			margin-right: 20px;
		}
		
		#add_to_order{
			display: block;
			height: 32px;
		}
	}
	
	ul#food_detail_gallery{
		padding: 0;
		
		li{
			position: relative;
			display: block;
			list-style: none;
			max-width: 900px;
			height: 500px;
			margin: 0 auto;
		}
		
		.food_pic{
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
			
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('/imgs/image-not-available.gif');
			border: solid 1px $almostBlack;
		}
	}
	
	.about_dish{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
		.about_dish_section{
			flex: 1;
			min-width: 400px;
		}
	}
}

@media (max-width: 900px) {
	#food_detail{
		ul#food_detail_gallery{
			li{
				height: 0;
				padding-bottom: 56%;
			}
		}
	}
}