// centered global element
div#global{
	max-width: $max_display_width;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
}

// IE 11 fix: must specify width for centering
@media (min-width: $max_display_width) {
	div#global{
		width: $max_display_width;
	}
}

// haze screen
#haze {
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0.5;
	background-color: $grey;
	z-index: 4000;
	display: none;
}

// top navigation bar
nav{
	height:10vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 50px;
	position: relative;
	
	.nav_wrapper{
		flex:1;
	}
	
	// override default jquery-UI
	.ui-state-hover{
		background-color: $defaultWidgetColor !important;
	}
	.ui-state-focus{
		background-color: $defaultWidgetColor !important;
	}
	
	.logo{
		background-image: url("/imgs/logo_128.png");
		background-size: contain;
		background-repeat: no-repeat;
		height: 50px;
		padding-left: 55px;
		float: left;
		line-height: 50px;
		
		display: block;
	}
	
	#mobile_user_menu_trigger{
		background-image: url("/imgs/menu_burger.png");
		background-repeat: no-repeat;
		background-position: 5px center;
		width: 28px;
		height: 50px;
		float: left;
		cursor: pointer;
		z-index: 5000;
		
		display: none;
	}
	
	ul#pc_nav_buttons_left{
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li{
			line-height: 50px;
			display: block;
			float: left;
			margin: 0 20px 0 0;
		}
	}
	
	ul#pc_nav_buttons_right{
		list-style-type: none;
		float: right;
		margin: 0;
		padding: 0;
		
		li{
			line-height: 50px;
			display: block;
			float: right;
			margin: 0 10px 0 10px;
		}
		
		.cart{
			position: relative;
			display: block;
			overflow: auto;
			
			.order_cart{
				display: block;
				background-image: url("/imgs/bentobox.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 40px 40px;
				cursor: pointer;
				
				height: 50px;
				width: 50px;
			}
			
			#order_count{
				position: absolute;
				line-height: initial;
				width: 20px;
				height: 20px;
				text-align: center;
				top: 28px;
				right: 3px;
				
				border: solid 1px $mediumGrey;
				background-color: $mediumGrey;
				color: white;
			}
		}
		
		// the clickable button for showing/hiding the user menu
		#user_menu_trigger{
			cursor: pointer;
			
			#user_menu_visual{
				color: $darkGrey;
			}
		}
		#user_menu_trigger.selected{
			#user_menu_visual{
				color: $almostBlack;
			}
		}
	}
	
	ul#user_menu{
		position: absolute;
		z-index: 2000;
		right: 0;
		border-top: 0;
		
		display: none;
		
		li{
			float: none;
			margin: 0;
			height: 50px;
			display: block;
			border-top: solid 1px $grey;
			padding: 0;
		}
		li a{
			display: block;
			padding: 0 10px 0 10px;
		}
		li.ui-state-focus{
			border: 0;
			border-top: solid 1px $grey;
		}
	}
	
	ul#mobile_user_menu{
		position: absolute;
		z-index: 5000;
		left: 0;
		top: 0;
		border-top: 0;
		
		display: none;
		
		li{
			margin: 0;
			padding: 0;
			line-height: 50px;
			border-top: solid 1px $grey;
			display: block;
			white-space:nowrap;
		}
		li.menu_item_about{
			border-bottom: solid 1px $grey;
		}
		li.filler{
			height: 100vh;
		}
		li a{
			padding: 0 20px 0 20px;
			display: block;
			height: 50px;
		}
		a.logo{
			display: block;
			float: none;
			padding-left: 70px;
			background-position: 10px center;
			background-size: 50px;
			line-height: 100px;
			height: 100px;
		}
	}
}

@media (max-width:600px) {
	nav{
		a.logo{
			display: none;
		}
		
		#mobile_user_menu_trigger{
			display: block;
		}
		
		ul#pc_nav_buttons_left{
			display: none;
		}
		
		ul#pc_nav_buttons_right{
			li.user_menu_trigger_wrapper{
				display:none;
			}
		}
	}
}


// category tags
.category_tag{
	display: inline-block;
	text-align: center;
	padding: 5px;
	padding-right: 10px;
	margin: 3px;
	margin-left: 0;
	
	background-image: url('/imgs/tag_blue.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}


// is open/closed
.is_open{
	display: block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: $blue;
}
.is_closed{
	display: inline-block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: $red;
}


// jquery-ui overrides

.ui-button-text{
	font-size: 1.5rem;
}

.ui-state-default{
	border-color: $defaultWidgetColor;
}
.ui-state-active{
	background-color: $defaultWidgetColor;
}
.ui-state-hover{
	background-color: $defaultWidgetColor;
}
.ui-state-focus{
	background-color: $defaultWidgetColor;
}

.rush{
	.ui-state-default{
		border-color: $rush_selected;
	}
	.ui-state-active{
		background-color: $rush_selected !important;
	}
	.ui-state-hover{
		background-color: $rush_selected;
	}
	.ui-state-focus{
		background-color: $light_grey;
	}
}

.explore{
	.ui-state-default{
		border-color: $explore_selected;
	}
	.ui-state-active{
		background-color: $explore_selected !important;
	}
	.ui-state-hover{
		background-color: $explore_selected;
	}
	.ui-state-focus{
		background-color: $light_grey;
	}
}