#landing_main{
	height: 100vh;
	display: flex;
	flex-direction: column;
	
	#mobile_detector{
		height: 0;
		width: 0;
		display: none;
	}
}

#featured_dishes{
	display: flex;
	width: 100%;
	flex: 1;
	
	.button_parent{
		display: flex;
		flex: 1;
		float: left;
		position: relative;
	}
	
	span{
		flex: 1;
		width: 100%;
		min-height: 200px;
		
		display: block;
		border: 0;
		
		background-position:center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	a.button{
		width: 100%;
		height: 170px;
		padding: 5px;
		
		text-decoration: none;
		
		position: absolute;
		display: block;
		background-color: $translucentBlack;
		bottom: 0;
		left: 0;
		color: white !important;
		z-index: 500;
	}
	
	.featured_arrow{
		display: none;
	}

	h1{
		margin: 5px 0 5px 0;
	}
}

#menu_mega_selection{
	width: 100%;
	height: 200px;
	margin: auto;
	background-color: $grey;
	
	.button_parent{
		height: 100%;
		width: 50%;
		float: left;
		
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	a{
		display: block;
		min-width: 300px;
		width: 70%;
		
		border: 5px solid white;
		
		color: $almostBlack;
		text-align: center;
		text-decoration: none;
	}
	
	a.rush{
		border-color: $rush_selected;
	}
	a.rush:hover{
		background-color: $rush_selected;
	}
	
	a.explore{
		border-color: $explore_selected;
	}
	a.explore:hover{
		background-color: $explore_selected;
	}
	
	h2{
		margin-top: 10px;
		margin-bottom: 5px;
	}
	
	p{
		margin-top: 5px;
		margin-bottom: 10px;
	}
}

div.about_text{
	background-color: $translucentGrey;
	width: 600px;
	padding: 0 20px 40px 20px;
	color: $almostBlack;
	
	h1{
		text-align: center;
	}
}

#about{
	padding-top: 30px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-image: url('/imgs/cooking1.jpg');
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed; 
}

#contact{
	padding-top: 30px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-image: url('/imgs/food_1.jpeg');
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed; 
	
}

// media query

@media (max-width:960px) {
	#featured_dishes{
		position: relative;
		
		a.button{
			height: auto;
		}
		
		#rush_dish{
			width: 100%;
		}
		
		#explore_dish{
			display: none;
		}
	}
	
	#mobile_detector{
		display: block;
	}
}

@media (max-width: 600px){
	#about{
		.text{
			width: 100%;
		}
	}

	#menu_mega_selection{
		display: flex;
		flex-direction: column;
		
		.button_parent{
			width: 100%;
			flex: 1;
		}
	}
}

@media (max-height: 450px){
	#landing_main{
		height: auto;
	}
	
	#about{
		height: auto;
	}
	
	#contact{
		height: auto;
	}
}