// login page elements

#login_section{
	margin: 0 auto;
	max-width: 500px;
	text-align: center;
	
	h1{
		padding-bottom: 5px;
		border-bottom: solid 1px $darkGrey;
	}
	
	.login_button_wrapper{
		margin-top: 50px;
		
		a{
			display: block;
			width: 100%;
			height: 40px;
			color: white;
			line-height: 40px;
			font-size: 1.5rem;
			margin-bottom: 20px;
		}
		
		.fb_login{
			background-color: $facebookColor;
		}

		.google_login{
			background-color: $googleColor;
		}
	}

  #login_terms_and_conditions {
    margin: 40px auto;
    max-width: 500px;
    height: 400px;
    overflow-y: auto;
    text-align: left;
    h2 {
      font-size: 2rem;
    }
  }
}