// rush vs. explore buttons

#menu_mega_selection.small{
	height: 70px;
	
	.button_parent{
		flex: none;
	}
	
	a{
		box-sizing: border-box;
		height: 40px;
		border-width: 2px;
		color: white;
		width: 300px;
		
		line-height: 40px;
	}
	
	a.rush{
		border-color: $explore_selected;
	}
	a.rush:hover{
		border-color: $rush_selected;
	}
	
	a.explore{
		border-color: $rush_selected;
	}
	a.explore:hover{
		border-color: $explore_selected;
	}
	
	h3{
		margin: 0;
	}
}

#menu_mega_selection.explore{
	background-color: $explore_selected;
}
#menu_mega_selection.rush{
	background-color: $rush_selected;
}


// search filters

#menu_filter{
	margin-top: 20px;

	.menu_filter_container{
		//display: flex;
		display: none;
		flex-direction: row;
		flex-wrap: wrap;
		
		.menu_filter_zone{
			flex: 1;
			padding-right: 20px;
			min-width: 400px;
		}
	}

	.menu_button_container{
		margin-top: 30px;
		text-align: center;

		button{
			margin: 0 5px 10px 5px;
			width: 170px;
		}
	}
	
	.search_container{
		padding: 0 5px 0 5px;
		display: flex;
		flex-direction: row;
		
		input#search {
			margin: 0;
			flex: 1;
			height: 30px;
			padding-right: 28px;
			
			background-image: url('/imgs/search.svg');
			background-size: 25px 25px;
			background-repeat: no-repeat;
			background-position: right center;
		}
		
		
		
		button#btn_location{
			margin-left: 5px;
			width: 30px;
			height: 30px;
			
			background-image: url('/imgs/map_pin.svg');
			background-size: 25px 25px;
			background-repeat: no-repeat;
			background-position: center;
		}
		
		button#btn_filter{
			margin-left: 5px;
			width: 30px;
			height: 30px;
			
			background-image: url('/imgs/filter.png');
			background-size: 25px 25px;
			background-repeat: no-repeat;
			background-position: center;
		}
	}	

	.filter_slider{
		margin-left: 10px;
		width: 80%;
		min-width: 365px;
	}

	#menu_filter_categories{		
		label{
			margin: 0 0 10px 10px;
			width: 100px;
		}
	}
}



#location_dialog{
	display: none;
	
	#input_location{
		height: 30px;
		width: 100%;
		font-size: 1.5rem;
		padding-right: 28px;
		
		background-image: url('/imgs/map_pin.svg');
		background-size: 25px 25px;
		background-repeat: no-repeat;
		background-position: right center;
	}
}
.ui-dialog{
	.ui-button-dialog {
		height: 24px;
		width: 30px;
	} 
}



// menu listing

#menu_listing{
	margin-top: 30px;

	.food_category_wrapper{
		diplay: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

	.food_list_parent{
		max-width: calc(276px*4);
		margin: 0 auto;
		overflow: auto;
		
		h2{
			margin-left: 20px;
			padding-bottom: 2px;
			border-bottom: solid 1px $darkGrey;
		}
	}
	
	ul.food_list{
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
		li.food_item{
			display: block;
			list-style: none;
			text-align: left;
			width: 220px;
			
			margin: 20px 20px;
		}
		
		.food_pic{
			display: inline-block;
			width: 100%;
			height: 220px;
			
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('/imgs/image-not-available.gif');
			border: solid 1px $almostBlack;
		}
		
		h3{
			display: inline-block;
			margin-bottom: 5px;
		}
		
		.alt_name{
			display: block;
			h3{
				margin-top: 2px;
				margin-bottom: 2px;
			}
		}
		
		.food_price{
			display: block;
			float: right;
			//font-size: 1.4rem;
		}
		
		.food_maker {
			display: block;
		}
		
		.order_rating_time_container{
			display: flex;
			flex-direction: row;
			margin-top: 10px;
			
			span{
				flex: 1;
			}
			.rating{
				text-align: center;
				flex: 1;
			}
			.prep_time{
				text-align: right;
			}
		}
		
		.categories_container{
			overflow: auto;
			margin-top: 10px;
		}
		
		
		// below are for adding new food
		
		#new_food_li{
			display: none;
		}
		
		#btn_add_new{
			cursor: pointer;
			display: block;
			border: solid 1px $grey;
			h3{
				display: block;
				margin: 10px;
			}
		}

		.new_food{
			h3{
				margin: 0;
			}
			
			#new_food_name{
				width: 150px;
			}
			
			#new_food_price{
				width: 40px;
			}
			
			#new_alt_name{
				width: 100%;
			}
			
			ul#new_food_categories{
				font-size: 1.4rem;
			}
		}
		
		.new_food_buttons_wrapper{
			position: relative;
			
			.new_food_buttons{
				left: auto;
				right: 0;
				margin-top: 5px;
			}
		}
		
	}
}


// menu map

#menu_map{
    max-height: 600px;
    overflow: hidden;

	.map_wrapper{
		position: relative;
		width: 100%;
		
		padding-bottom: 75%;
		
		.map_container{
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;
			border: solid 1px $grey;
			max-height: 600px;
		}
	}
}


// media query

@media (max-width: 600px){
	#menu_filter{
		
		.menu_filter_container{
			.menu_filter_zone{
				padding: 0;
				width: 100vw;
				min-width: initial;
			}
		}
		
		.menu_button_container{
			button{
				width: 140px;
			}
		}
	
		
		.filter_slider{
			margin: 0 auto;
			width: 90vw;
			min-width: initial;
		}
		
		#menu_filter_categories{
			text-align: center;
		}
	}
	
	#menu_mega_selection.small{
		height: auto;
		
		a{
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
}

@media (max-width: 480px){
	#menu_listing{
		.food_list_parent{
			h2{
				margin-right: 20px;
				text-align: center;
			}
		}
		
		ul.food_list{
			justify-content: center;
		}
	}
}