#basket_view{
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 40px;
	
	button{
		width: 170px;
	}
	
	.button_container{
		text-align: center;
		margin-top: 20px;
		margin-bottom: 40px;
		
		button{
			margin: 0 5px 0 5px;
		}
	}

	.vendor_section{
		.title{
			margin-bottom: 20px;
		}
		
		.pickup{
			display: flex;
			flex-direction: row;
			
			.location{
				margin-right: 10px;
			}
			
			.time{
				margin-left: 30px;
				margin-right: 10px;
			}
		}
		
		h3{
			margin: 0;
		}
		
		p{
			margin: 0;
		}
		
		.order_item{
			position: relative;
			margin-bottom: 30px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			.small_pic{
				display: block;
				height: 70px;
				width: 250px;
				border: solid 1px $almostBlack;
				margin-bottom: 10px;
				
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				background-image: url('/imgs/image-not-available.gif');
			}
			
			.received{
				flex: 1;
				color: $green;
				line-height: 29px;
			}
			
			.price_descr{
				flex: 1;
				line-height: 29px;
				
				.child{
					margin-left: 20px;
					display: inline-block;
				}
				.price{
					width: 50px;
				}
				
				.ui-spinner{
					margin-left: 20px;
				}
				
				input{
					font-size: 1.5rem;
					width: 20px;
				}
			}
			
			.btn_cancel_order{
				width: 90px;
				color: $red;
				margin: 0;
			}
			.btn_finish_order{
				width: 90px;
				color: $green;
				margin: 0;
			}
			
			.canceled{
				color: $red;
			}
		}
	}
	
	.total{
		border-top: solid 1px $darkGrey;
		.line{
			display:flex;
			flex-direction: row;
			
			.amount{
				flex:1;
				text-align: right;
			}
			
			h3{
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}
	
	.action_buttons_container{
		margin-top: 30px;
		overflow: auto;
		
		button{
			float: right;
		}
	}
	
	#no_items{
		text-align: center;
	}
	
	#order_checkout{
		display: none;
		
		.payment_info{
			.payment_line{
				display: flex;
				flex-direction: row;
				
				label{
					flex-shrink: 0;
					width: 150px;
					display: inline-block;
				}
				
				input{
					width: 200px;
				}
				input#exp_year{
					width: 45px;
				}
				input#exp_month{
					width: 45px
				}
				input#cvc{
					width: 50px;
				}
			}
		}
	}
	
	.past_order_section{
		display: flex;
		flex-direction: row;
		padding-left: 10px;
		padding-right: 10px;
		border: solid 1px $grey;
		margin-bottom: 10px;
		
		.child{
			flex: 1;
		}
		
		.received{
			color: $green;
		}
	}
	
	#cancel_section{
		display: none;
		
		.cancel_info{
			textarea{
				width:100%;
				font-size: 1.5rem;
			}
		}
		
		#btn_process{
			color: $red;
		}
	}
}

@media (max-width: 600px){
	#basket_view{
		button{
			width: 140px;
		}
		
		.vendor_section{
			.order_item{
				.small_pic{
					width: 100vw;
				}
				
				/*.food_name{
					margin-bottom: 10px;
				}*/
				
				.received{
					text-align: left;
					margin-top: 10px;
				}
				.price_descr{
					margin-top: 10px;
				}
			}
		}
	}
}