#order_checkout{
	max-width: 900px;
	margin: 0 auto;
	
	button{
		margin: 0 0 0 10px;
		width: 170px;
	}
	
	.button_container{
		text-align: center;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	
	.vendor_section{
		.title{
			margin-bottom: 20px;
		}
		
		h3{
			margin: 0;
		}
		
		.order_item{
			margin-bottom: 30px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			
			.small_pic{
				display: block;
				height: 70px;
				width: 250px;
				border: solid 1px $almostBlack;
				margin-bottom: 10px;
				
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				background-image: url('/imgs/image-not-available.gif');
			}
			
			.price_descr{
				flex: 1;
				text-align: right;
				
				.child{
					margin-left: 20px;
					display: inline-block;
				}
				h3.child{
					width: 50px;
				}
				
				.ui-spinner{
					margin-left: 20px;
				}
				
				input{
					font-size: 1.5rem;
					width: 20px;
				}
			}
			
			.modify_order{
				margin-top: 5px;
			}
			
			.modify_order{
				font-size: 1.3rem;
			}
		}
	}
	
	.total{
		border-top: solid 1px $darkGrey;
		display:flex;
		flex-direction: row;
		
		.total_amount{
			flex:1;
			text-align: right;
		}
	}
	
	.action_buttons_container{
		margin-top: 30px;
		float: right;
	}
}