.dshbd{
	& > *{
		margin: 0 -2px;
	}	

	.dshbd_profile{
		width: 20%;
		display: inline-block;
		vertical-align: top;
		img{
			width: 100%;
			padding-bottom: 1rem;
		}
		& > *{
			padding-bottom: 2rem;
		}
		.dshbd_time{
			p{
				color:$darkGrey;
				margin-bottom: 0;
				margin-top: 0;
			}
		}
		.dshbd_controller{
			h3{
				margin: 0;
			}
		}
	}

	.dshbd_review{
		margin-left:10%;
		width: 70%;
		display: inline-block;
		vertical-align: top;

		& > *{
			padding-bottom: 2rem;
		}
		
		.dshbd_review_summary{
			p{
				margin: 5px;
			}
		}

		.order{
			padding-bottom: 3rem;
		}

		.dshbd_review_waiting,
		.dshbd_review_finished{
			> h3{
				margin-bottom: 0;
			}
		}
		.order_basicInfo{
			h3{
				margin: 0;
			}
		}
		.order_name_number {
			margin: 0;
			p{
				display: inline-block;
				color:$darkGrey;
				padding-left: 2rem;
			}
		}

		.order_status{
			p{
				margin: 0;
			}
			.btn_weak{
				display: none;
			}

			&:hover{
				.btn_weak{
					display: inline-block;
				}
			}
		}

		.order_deliverInfo,
		.order_status{
			width: 50%;
			display: inline-block;
			vertical-align: bottom;
			margin:0 -1px;
		}

		.order_deliver{
			margin-bottom: 10px;
		}
		.order_add{
			margin-top: 0;
		}

		.order_status{
			text-align: right;
			.btn_activated,
			.btn_fade,
			.btn_sub{
				display: inline-block;
			}
		}
		
		.order_item > *{
			margin:0 -2px;
			display: inline-block;
			vertical-align: top;
			padding: 0 1rem;

			h3{
				margin: 5px 0 ;
			}
		}
		.order_names_number{
			width: 50%;
		}
		.order_requirement{
			width: 35%;
		}
		.order_item_price{
			width: 15%;
			text-align: right;
		}
		.order_names {
			display: inline-block;
			padding-left: 1rem;
		}

		.order_total{
			p{
				margin: 0;
			}
		}
	}

	@media (max-width: $tablet-width) {
		.dshbd_profile,
		.dshbd_review{
			width: 100%;
			p{
				margin: 5px 0;
			}
		}
		.dshbd_profile{
			> img{
				display: block;
				max-width: 150px;
				padding: 2rem;
				margin:0 auto;
			}
			> *{
				text-align: center;
				padding-bottom: 1rem;
			}
			h3{
				margin: 0;
			}
			.dshbd_controller{
				button{
					display: block;
					margin: 1rem auto;
				}
			}
			.dshbd_orderFilter{
				button{
					display: inline-block;
				}
			}
		}

		.dshbd_review{
			margin-left: 0;
			padding: 0 1rem;
			.floatLeft,
			.floatRight{
				float: none;
			}
		}

		.dshbd_review_summary{
			text-align: center;
		}

		.order_deliver_status .order_deliverInfo, 
		.order_deliver_status .order_status{
			width: 100%;
			text-align: left;
		}

		.order_names_number{
			> h3{
				display: inline-block;
				width:5%;
				vertical-align: top;
			}
			.order_names{
				width: 90%;
				vertical-align: top;
			}
		}

	}
	// end of the media query

}














