#profile_intro{
	display: flex;
	flex-direction: row;
	
	input{
		font-size: inherit;
	}

	.editable-address{
		display: flex;
		margin-bottom: 5px;
		
		span{
			display: inline-block;
			width: 100px;
		}
	}
	
	.btn_kitchen_open{
		cursor: pointer;
	}
	.btn_kitchen_open:hover{
		color: white;
	}
	
	#pickup_buttonset{
		font-size: 1.4rem;
		overflow: auto;
		/*display: flex;
		flex-direction: row;*/
		
		.pickup_item{
			float: left;
			width: 265px;
			margin-bottom: 5px;
			
			label{
				.ui-button-text{
					width: 90px;
				}
				margin-right: 5px;
			}
		}
	}
	
	.pic_wrapper{
		width: 200px;
		
		#profile_pic{
			display: block;
			width: 200px;
			height: 200px;
			
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('/imgs/profile.svg');
			border: solid 1px $darkGrey;
		}
		
		#followers{
			float: left;
		}
		
		#follow_btn{
			float: right;
		}
	}
	
	.intro_wrapper{
		flex: 1;
		padding-left: 40px;
		
		.closed{
			color: $red;
		}
	}
}

#food_modal_container{
	display: none;
}

@media (max-width: 600px){
	#profile_intro{
		display: block;
		
		.pic_wrapper{
			float: none;
			margin: 0 auto;
			width: 150px;
			
			#profile_pic{
				width: 150px;
				height: 150px;
			}
		}
		
		.intro_wrapper{
			padding: 0;
			
			h1{
				text-align: center;
			}
			
			h3{
				text-align: center;
			}
		}
		
		.btn_kitchen_open{
			margin-left: auto;
			margin-right: auto;
		}
	}
}