#profile_intro{
	display: flex;
	flex-direction: row;
	
	input{
		font-size: inherit;
	}
	
	.pic_wrapper{
		width: 200px;
		overflow-y: auto;
		
		#profile_pic{
			display: block;
			width: 200px;
			height: 200px;
			
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('/imgs/profile.svg');
			border: solid 1px $almostBlack;
		}
		
		#followers{
			float: left;
		}
		
		#follow_btn{
			float: right;
		}
	}
	
	.intro_wrapper{
		flex: 1;
		padding-left: 40px;
		
		.closed{
			color: $red;
		}
	}
}

@media (max-width: 600px){
	#profile_intro{
		display: block;
		
		.pic_wrapper{
			float: none;
			margin: 0 auto;
			width: 150px;
			
			#profile_pic{
				width: 150px;
				height: 150px;
			}
		}
		
		.intro_wrapper{
			padding: 0;
			
			h1{
				text-align: center;
			}
			
			h3{
				text-align: center;
			}
		}
		
		.is_open{
			margin-left: auto;
			margin-right: auto;
		}
		.is_closed{
			margin-left: auto;
			margin-right: auto;
		}
	}
}