// colours
$light_grey: #f6f6f6;
$grey : #e3e0d8;
$mediumGrey: #4A4A4A;
$darkGrey: #b5b3ac;
$nearBlack: #3D3C3A;
$almostBlack : #251F1E;
$green: #006622;
$red: #990000;

$translucentBlack : rgba(0,0,0, 0.3);
$translucentGrey : rgba(240,240,240, 0.8);
$pink : #F5BDA3;
$teal : #B3CCC8;
$blue: #95d1d1;
$red: #ed7a5d;

$facebookColor: #3b5998;
$googleColor: #F44336;

$defaultWidgetColor: $blue;
$rush_selected : $pink;
$explore_selected: $blue;

// fonts
$mainFont: 'Open Sans', sans-serif;
$specialFont:'ButlerStencil-Bold', serif;
$headingFont: 'Montserrat-Regular', sans-serif;

// sizes
$max_display_width: 1440px;
$mob-width: 400px; 