$grey : #EEECE7;
$pink : #F5BDA3;
$teal : #B3CCC8;
$almostBlack : #251F1E;

//FONT FAMILY
$mainFont: 'Open Sans', sans-serif;
$specialFont:'ButlerStencil-Bold', serif;
$headingFont: 'Montserrat-Regular', sans-serif;

