article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*@font-face {
	font-family: 'ButlerStencil-Bold';
	src: url("/font/Butler_Bold_Stencil.otf") format("opentype");
}*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  color: #251F1E;
}

h1 {
  font-family: "ButlerStencil-Bold", serif;
  font-size: 3.8rem;
}

h2 {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

h3 {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #3D3C3A;
}

h4 {
  font-size: 1.5rem;
  color: #b5b3ac;
  font-style: italic;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 300;
}

p.small {
  font-size: 1.2rem;
  line-height: 15px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

a:link {
  color: #251F1E;
  text-decoration: none;
}

a:visited {
  color: #251F1E;
}

input {
  font-size: 1.5rem;
  border: 1px solid #b5b3ac;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.title {
  padding-bottom: 5px;
  border-bottom: solid 1px #b5b3ac;
  margin: 20px 0 5px 0;
}

.round_border {
  border-radius: 50%;
}

div#global {
  max-width: 1440px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}

@media (min-width: 1440px) {
  div#global {
    width: 1440px;
  }
}

#haze {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.5;
  background-color: #e3e0d8;
  z-index: 4000;
  display: none;
}

#top_status {
  width: 200px;
  background-color: white;
  z-index: 6000;
  position: fixed;
  top: 0;
  margin: 10px auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5px;
  display: none;
  font-size: 1.3rem;
  font-weight: bold;
}

#top_status.warning {
  color: #ed7a5d;
}

#top_status.success {
  color: #006622;
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
  position: relative;
}

nav .nav_wrapper {
  flex: 1;
}

nav .ui-state-hover {
  background-color: #95d1d1 !important;
}

nav .ui-state-focus {
  background-color: #95d1d1 !important;
}

nav .logo {
  background-image: url("/imgs/logo_128.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  padding-left: 55px;
  float: left;
  line-height: 50px;
  display: block;
}

nav #mobile_user_menu_trigger {
  background-image: url("/imgs/menu_burger.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  width: 28px;
  height: 50px;
  float: left;
  cursor: pointer;
  z-index: 5000;
  display: none;
}

nav ul#pc_nav_buttons_left {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul#pc_nav_buttons_left li {
  line-height: 50px;
  display: block;
  float: left;
  margin: 0 20px 0 0;
}

nav ul#pc_nav_buttons_right {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}

nav ul#pc_nav_buttons_right li {
  line-height: 50px;
  display: block;
  float: right;
  margin: 0 10px 0 10px;
}

nav ul#pc_nav_buttons_right .cart {
  position: relative;
  display: block;
}

nav ul#pc_nav_buttons_right .cart .order_cart {
  display: block;
  background-image: url("/imgs/bentobox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

nav ul#pc_nav_buttons_right .cart #order_count {
  position: absolute;
  line-height: 20px;
  line-height: initial;
  width: 20px;
  height: 20px;
  text-align: center;
  top: 28px;
  right: 3px;
  border: solid 1px #4A4A4A;
  background-color: #4A4A4A;
  color: white;
}

nav ul#pc_nav_buttons_right #user_menu_trigger {
  cursor: pointer;
}

nav ul#pc_nav_buttons_right #user_menu_trigger #user_menu_visual {
  color: #b5b3ac;
}

nav ul#pc_nav_buttons_right #user_menu_trigger.selected #user_menu_visual {
  color: #251F1E;
}

nav ul#user_menu {
  position: absolute;
  z-index: 2000;
  right: 0;
  border-top: 0;
  display: none;
}

nav ul#user_menu li {
  float: none;
  margin: 0;
  height: 50px;
  display: block;
  border-top: solid 1px #e3e0d8;
  padding: 0;
}

nav ul#user_menu li a {
  display: block;
  padding: 0 10px 0 10px;
}

nav ul#user_menu li.ui-state-focus {
  border: 0;
  border-top: solid 1px #e3e0d8;
}

nav ul#mobile_user_menu {
  position: absolute;
  z-index: 5000;
  left: 0;
  top: 0;
  border-top: 0;
  display: none;
}

nav ul#mobile_user_menu li {
  margin: 0;
  padding: 0;
  line-height: 50px;
  border-top: solid 1px #e3e0d8;
  display: block;
  white-space: nowrap;
}

nav ul#mobile_user_menu li.menu_item_about {
  border-bottom: solid 1px #e3e0d8;
}

nav ul#mobile_user_menu li.filler {
  height: 100vh;
}

nav ul#mobile_user_menu li a {
  padding: 0 20px 0 20px;
  display: block;
  height: 50px;
}

nav ul#mobile_user_menu a.logo {
  display: block;
  float: none;
  padding-left: 70px;
  background-position: 10px center;
  background-size: 50px;
  line-height: 100px;
  height: 100px;
}

@media (max-width: 600px) {
  nav a.logo {
    display: none;
  }
  nav #mobile_user_menu_trigger {
    display: block;
  }
  nav ul#pc_nav_buttons_left {
    display: none;
  }
  nav ul#pc_nav_buttons_right li.user_menu_trigger_wrapper {
    display: none;
  }
}

.category_tag {
  display: inline-block;
  text-align: center;
  padding: 5px;
  padding-right: 10px;
  margin: 3px;
  margin-left: 0;
  background-image: url("/imgs/tag_blue.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.is_open {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #95d1d1;
}

.is_closed {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #ed7a5d;
}

.ui-button-text {
  font-size: 1.3rem;
}

.ui-state-default {
  border-color: #95d1d1;
}

.ui-state-active {
  background-color: #95d1d1;
}

.ui-state-hover {
  background-color: #95d1d1;
}

.ui-state-focus {
  background-color: #95d1d1;
}

.rush .ui-state-default {
  border-color: #F5BDA3;
}

.rush .ui-state-active {
  background-color: #F5BDA3 !important;
}

.rush .ui-state-hover {
  background-color: #F5BDA3;
}

.rush .ui-state-focus {
  background-color: #f6f6f6;
}

.explore .ui-state-default {
  border-color: #95d1d1;
}

.explore .ui-state-active {
  background-color: #95d1d1 !important;
}

.explore .ui-state-hover {
  background-color: #95d1d1;
}

.explore .ui-state-focus {
  background-color: #f6f6f6;
}

#landing_main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#landing_main #mobile_detector {
  height: 0;
  width: 0;
  display: none;
}

#featured_dishes {
  display: flex;
  width: 100%;
  flex: 1;
}

#featured_dishes .button_parent {
  display: flex;
  flex: 1;
  float: left;
  position: relative;
}

#featured_dishes span {
  flex: 1;
  width: 100%;
  min-height: 200px;
  display: block;
  border: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#featured_dishes a.button {
  width: 100%;
  height: 170px;
  padding: 5px;
  text-decoration: none;
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  color: white !important;
  z-index: 500;
}

#featured_dishes .featured_arrow {
  display: none;
}

#featured_dishes h1 {
  margin: 5px 0 5px 0;
}

#menu_mega_selection {
  width: 100%;
  height: 200px;
  margin: auto;
  background-color: #e3e0d8;
}

#menu_mega_selection .button_parent {
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu_mega_selection a {
  display: block;
  min-width: 300px;
  width: 70%;
  border: 5px solid white;
  color: #251F1E;
  text-align: center;
  text-decoration: none;
}

#menu_mega_selection a.rush {
  border-color: #F5BDA3;
}

#menu_mega_selection a.rush:hover {
  background-color: #F5BDA3;
}

#menu_mega_selection a.explore {
  border-color: #95d1d1;
}

#menu_mega_selection a.explore:hover {
  background-color: #95d1d1;
}

#menu_mega_selection h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

#menu_mega_selection p {
  margin-top: 5px;
  margin-bottom: 10px;
}

div.about_text {
  background-color: rgba(240, 240, 240, 0.8);
  width: 600px;
  padding: 0 20px 40px 20px;
  color: #251F1E;
}

div.about_text h1 {
  text-align: center;
}

#about {
  padding-top: 30px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-image: url('/imgs/cooking1.jpg');
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;*/
}

#contact {
  padding-top: 30px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/imgs/cooking1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 960px) {
  #featured_dishes {
    position: relative;
  }
  #featured_dishes a.button {
    height: auto;
  }
  #featured_dishes #rush_dish {
    width: 100%;
  }
  #featured_dishes #explore_dish {
    display: none;
  }
  #mobile_detector {
    display: block;
  }
}

@media (max-width: 600px) {
  #about .text {
    width: 100%;
  }
  #menu_mega_selection {
    display: flex;
    flex-direction: column;
  }
  #menu_mega_selection .button_parent {
    width: 100%;
    flex: 1;
  }
}

@media (max-height: 450px) {
  #landing_main {
    height: auto;
  }
  #about {
    height: auto;
  }
  #contact {
    height: auto;
  }
}

#menu_mega_selection.small {
  height: 70px;
}

#menu_mega_selection.small .button_parent {
  flex: none;
}

#menu_mega_selection.small a {
  box-sizing: border-box;
  height: 40px;
  border-width: 2px;
  color: white;
  width: 300px;
  line-height: 40px;
}

#menu_mega_selection.small a.rush {
  border-color: #95d1d1;
}

#menu_mega_selection.small a.rush:hover {
  border-color: #F5BDA3;
}

#menu_mega_selection.small a.explore {
  border-color: #F5BDA3;
}

#menu_mega_selection.small a.explore:hover {
  border-color: #95d1d1;
}

#menu_mega_selection.small h3 {
  margin: 0;
}

#menu_mega_selection.explore {
  background-color: #95d1d1;
}

#menu_mega_selection.rush {
  background-color: #F5BDA3;
}

#menu_filter {
  margin-top: 20px;
}

#menu_filter .menu_filter_container {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
}

#menu_filter .menu_filter_container .menu_filter_zone {
  flex: 1;
  padding-right: 20px;
  min-width: 400px;
}

#menu_filter .menu_button_container {
  margin-top: 30px;
  text-align: center;
}

#menu_filter .menu_button_container button {
  margin: 0 5px 10px 5px;
  width: 170px;
}

#menu_filter .search_container {
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: row;
}

#menu_filter .search_container input#search {
  margin: 0;
  flex: 1;
  height: 30px;
  padding-right: 28px;
  background-image: url("/imgs/search.svg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: right center;
}

#menu_filter .search_container button#btn_location {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-image: url("/imgs/map_pin.svg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#menu_filter .search_container button#btn_filter {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-image: url("/imgs/filter.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#menu_filter .filter_slider {
  margin-left: 10px;
  width: 80%;
  min-width: 365px;
}

#menu_filter #menu_filter_categories label {
  margin: 0 0 10px 10px;
  width: 100px;
}

#location_dialog {
  display: none;
}

#location_dialog #input_location {
  height: 30px;
  width: 100%;
  font-size: 1.5rem;
  padding-right: 28px;
  background-image: url("/imgs/map_pin.svg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: right center;
}

.ui-dialog .ui-button-dialog {
  height: 24px;
  width: 30px;
}

#menu_listing {
  margin-top: 30px;
}

#menu_listing .food_category_wrapper {
  diplay: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#menu_listing .food_list_parent {
  max-width: calc(276px*4);
  margin: 0 auto;
  overflow: auto;
}

#menu_listing .food_list_parent h2 {
  margin-left: 20px;
  padding-bottom: 2px;
  border-bottom: solid 1px #b5b3ac;
}

#menu_listing ul.food_list {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#menu_listing ul.food_list li {
  display: block;
  list-style: none;
  text-align: left;
  width: 220px;
  margin: 20px 20px;
}

#menu_listing ul.food_list .food_pic {
  display: inline-block;
  width: 100%;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/imgs/image-not-available.gif");
  border: solid 1px #251F1E;
}

#menu_listing ul.food_list h3 {
  display: inline-block;
  margin-bottom: 5px;
}

#menu_listing ul.food_list .alt_name {
  display: block;
}

#menu_listing ul.food_list .alt_name h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}

#menu_listing ul.food_list .food_price {
  display: block;
  float: right;
}

#menu_listing ul.food_list .food_maker {
  display: block;
}

#menu_listing ul.food_list .order_rating_time_container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#menu_listing ul.food_list .order_rating_time_container span {
  flex: 1;
}

#menu_listing ul.food_list .order_rating_time_container .rating {
  text-align: center;
  flex: 1;
}

#menu_listing ul.food_list .order_rating_time_container .prep_time {
  text-align: right;
}

#menu_listing ul.food_list .categories_container {
  overflow: auto;
  margin-top: 10px;
}

#menu_listing ul.food_list .editable_li {
  cursor: pointer;
}

#menu_listing ul.food_list #btn_add_new {
  border: solid 1px #e3e0d8;
}

#menu_listing ul.food_list #btn_add_new h3 {
  display: block;
  margin: 10px;
}

#menu_map .map_wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}

#menu_map .map_wrapper .map_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 1px #e3e0d8;
  max-height: 600px;
}

@media (max-width: 600px) {
  #menu_filter .menu_filter_container .menu_filter_zone {
    padding: 0;
    width: 100vw;
    min-width: initial;
  }
  #menu_filter .menu_button_container button {
    width: 140px;
  }
  #menu_filter .filter_slider {
    margin: 0 auto;
    width: 90vw;
    min-width: initial;
  }
  #menu_filter #menu_filter_categories {
    text-align: center;
  }
  #menu_mega_selection.small {
    height: auto;
  }
  #menu_mega_selection.small a {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  #menu_listing .food_list_parent h2 {
    margin-right: 20px;
    text-align: center;
  }
  #menu_listing ul.food_list {
    justify-content: center;
  }
}

#food_detail {
  max-width: 900px;
  margin: 0 auto;
}

#food_detail .tight_cluster {
  margin: 0 auto;
  margin-bottom: 40px;
}

#food_detail .tight_cluster .rating {
  margin-left: 30px;
}

#food_detail .order_info {
  display: flex;
  align-items: center;
}

#food_detail .order_info .price {
  flex: 1;
  text-align: left;
  margin-right: 20px;
}

#food_detail .order_info .orders {
  flex: 1;
}

#food_detail .order_info .rating {
  flex: 1;
  text-align: center;
}

#food_detail .order_info .time {
  flex: 1;
  text-align: right;
}

#food_detail .order_info #add_to_order {
  display: block;
  white-space: nowrap;
  height: 32px;
  width: 145px;
}

#food_detail ul#food_detail_gallery {
  padding: 0;
}

#food_detail ul#food_detail_gallery li {
  position: relative;
  display: block;
  list-style: none;
  height: 500px;
  margin: 0 auto;
}

#food_detail ul#food_detail_gallery .food_pic {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: solid 1px #251F1E;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/imgs/image-not-available.gif");
}

#food_detail .about_dish {
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

#food_detail .about_dish .about_dish_section {
  width: 50%;
  padding-right: 10px;
}

#food_detail .reviews {
  padding: 0;
  margin-bottom: 40px;
}

#food_detail .reviews li {
  list-style: none;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

#food_detail .reviews .profile_pic {
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/imgs/profile.svg");
  border: solid 1px #251F1E;
}

#food_detail .reviews .review_info {
  flex: 1;
}

@media (max-width: 900px) {
  #food_detail ul#food_detail_gallery li {
    height: 0;
    padding-bottom: 56%;
  }
}

@media (max-width: 500px) {
  #food_detail .about_dish .about_dish_section {
    width: 100%;
  }
  #food_detail .order_info .no_mobile {
    display: none;
  }
  #food_detail .is_open {
    margin-left: auto;
    margin-right: auto;
  }
}

#login_section {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

#login_section h1 {
  padding-bottom: 5px;
  border-bottom: solid 1px #b5b3ac;
}

#login_section .login_button_wrapper {
  margin-top: 50px;
}

#login_section .login_button_wrapper a {
  display: block;
  width: 100%;
  height: 40px;
  color: white;
  line-height: 40px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#login_section .login_button_wrapper .fb_login {
  background-color: #3b5998;
}

#login_section .login_button_wrapper .google_login {
  background-color: #F44336;
}

#profile_intro {
  display: flex;
  flex-direction: row;
}

#profile_intro input {
  line-height: 20px;
}

#profile_intro .pic_wrapper {
  width: 200px;
  overflow-y: auto;
}

#profile_intro .pic_wrapper #profile_pic {
  display: block;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/imgs/profile.svg");
  border: solid 1px #251F1E;
}

#profile_intro .pic_wrapper #followers {
  float: left;
}

#profile_intro .pic_wrapper #follow_btn {
  float: right;
}

#profile_intro .intro_wrapper {
  flex: 1;
  padding-left: 40px;
}

#profile_intro .intro_wrapper .closed {
  color: #ed7a5d;
}

@media (max-width: 600px) {
  #profile_intro {
    display: block;
  }
  #profile_intro .pic_wrapper {
    float: none;
    margin: 0 auto;
    width: 150px;
  }
  #profile_intro .pic_wrapper #profile_pic {
    width: 150px;
    height: 150px;
  }
  #profile_intro .intro_wrapper {
    padding: 0;
  }
  #profile_intro .intro_wrapper h1 {
    text-align: center;
  }
  #profile_intro .intro_wrapper h3 {
    text-align: center;
  }
  #profile_intro .is_open {
    margin-left: auto;
    margin-right: auto;
  }
  #profile_intro .is_closed {
    margin-left: auto;
    margin-right: auto;
  }
}

#basket_view {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#basket_view button {
  width: 170px;
}

#basket_view .button_container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

#basket_view .button_container button {
  margin: 0 5px 0 5px;
}

#basket_view .vendor_section .title {
  margin-bottom: 20px;
}

#basket_view .vendor_section .pickup {
  display: flex;
  flex-direction: row;
}

#basket_view .vendor_section .pickup .location {
  margin-right: 10px;
}

#basket_view .vendor_section .pickup .time {
  margin-left: 30px;
  margin-right: 10px;
}

#basket_view .vendor_section h3 {
  margin: 0;
}

#basket_view .vendor_section p {
  margin: 0;
}

#basket_view .vendor_section .order_item {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#basket_view .vendor_section .order_item .small_pic {
  display: block;
  height: 70px;
  width: 250px;
  border: solid 1px #251F1E;
  margin-bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/imgs/image-not-available.gif");
}

#basket_view .vendor_section .order_item .received {
  flex: 1;
  color: #006622;
}

#basket_view .vendor_section .order_item .price_descr {
  flex: 1;
}

#basket_view .vendor_section .order_item .price_descr .child {
  margin-left: 20px;
  display: inline-block;
}

#basket_view .vendor_section .order_item .price_descr .price {
  width: 50px;
}

#basket_view .vendor_section .order_item .price_descr .ui-spinner {
  margin-left: 20px;
}

#basket_view .vendor_section .order_item .price_descr input {
  font-size: 1.5rem;
  width: 20px;
}

#basket_view .vendor_section .order_item .btn_remove {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 20px;
  height: 20px;
}

#basket_view .vendor_section .order_item .btn_remove span {
  padding: 0;
  font-size: 1.3rem;
}

#basket_view .vendor_section .order_item .btn_cancel_order {
  width: 90px;
  color: #ed7a5d;
  margin: 0;
}

#basket_view .vendor_section .order_item .canceled {
  color: #ed7a5d;
}

#basket_view .total {
  border-top: solid 1px #b5b3ac;
}

#basket_view .total .line {
  display: flex;
  flex-direction: row;
}

#basket_view .total .line .amount {
  flex: 1;
  text-align: right;
}

#basket_view .total .line h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#basket_view .action_buttons_container {
  margin-top: 30px;
  overflow: auto;
}

#basket_view .action_buttons_container button {
  float: right;
}

#basket_view #no_items {
  text-align: center;
}

#basket_view #order_checkout {
  display: none;
}

#basket_view #order_checkout .payment_info label {
  width: 150px;
  display: inline-block;
}

#basket_view #order_checkout .payment_info input {
  width: 200px;
}

#basket_view #order_checkout .payment_info #exp_year {
  width: 30px;
}

#basket_view #order_checkout .payment_info #exp_month {
  width: 30px;
}

#basket_view #order_checkout .payment_info #cvc {
  width: 50px;
}

#basket_view .past_order_section {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px #e3e0d8;
  margin-bottom: 10px;
}

#basket_view .past_order_section .child {
  flex: 1;
}

#basket_view .past_order_section .received {
  color: #006622;
}

#basket_view #cancel_section {
  display: none;
}

#basket_view #cancel_section .cancel_info textarea {
  width: 100%;
  font-size: 1.5rem;
}

#basket_view #cancel_section #btn_process {
  color: #ed7a5d;
}

@media (max-width: 600px) {
  #basket_view button {
    width: 140px;
  }
  #basket_view .vendor_section .order_item .small_pic {
    width: 100vw;
  }
  #basket_view .vendor_section .order_item .food_name {
    margin-bottom: 10px;
  }
  #basket_view .vendor_section .order_item .received {
    text-align: left;
  }
}
